<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAlternateAssessmentRoundTwo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class='container'>
      <p align="center"><%= image_tag "prisoners_comic.png", class: "comic_logo"%></p>
      <h1 align='center' style='font-size:3rem;color:#d12b15'>The NYC Comic Society</h1>
      <%= yield %>
    </div>
  </body>
</html>
